﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #6c757d;
}

input[type="text"] {
    color: #0B3C5D;
}

@media (min-width: 768px) {
    .cancel-transaction-left {
        display: block;
        bottom: 10px;
        position: absolute;
        left: 0;
        right: 0;
    }

    .cancel-transaction-bottom {
        display: none;
    }

    .tab-content {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .selected-logo img {
        max-width: 50% !important;
    }

    .selected-logo {
        text-align: center;
    }

    .bank-card-img img {
        width: 90% !important;
    }

    .cancel-transaction-bottom {
        display: block;
        bottom: 10px;
        position: absolute;
        left: 0;
        right: 0;
    }

    .cancel-transaction-left {
        display: none;
    }
	
    #pmethodform .invisible {
        display: none;
    }

        #ccTerms h5:nth-of-type(2) {
            margin-top: 6px !important;
        }

    .terms-conditions div:nth-of-type(2) {
        margin-bottom: 25px;
    }	
}

@media (min-width: 768px) and (max-width: 1198px) {
    .merchant-logo {
        width: 30% !important;
        margin: 0 auto !important;
    }
}

@media (min-width: 576px) {
    .left-col {
        background-color: #F4EEE5;
        height: 100%;
    }

    .r-col {
        padding-left: 0;
    }

    .l-col {
        padding-right: 0;
    }

    .merchant-logo {
        width: 15%;
        margin: 0 auto;
    }
}

@media (max-width: 575px) {
    body, .left-col {
        background-color: #ffffff;
    }

    .right-col {
        background-color: #F4EEE5;
    }

    .card {
        box-shadow: none !important;
        border: none;
    }

    .card-header {
        padding: .75rem .5rem;
    }

        .card-header button {
            padding: .375rem .5rem;
        }

    .footer-logo {
        max-width: 100%;
        height: auto !important;
        padding-bottom: 15px;
    }

    .payment, .result {
        padding-top: 0 !important;
    }

    .accordion a {
        font-size: 14px;
    }

        .accordion a:hover {
            text-decoration: none;
        }
        

    .expiry-month {
        padding-right: 5px;
    }

    .expiry-year {
        padding-left: 5px;
    }
}

/*.accordion .card:nth-last-child(2) {
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px) !important;
}*/

.accordion-last-pmethod {
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    border-radius: .25rem !important;
}

    .accordion-last-pmethod .card-header {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px) !important;
    }

.accordion .card:nth-last-of-type(2) .card-header {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px) !important;
}

.accordion .card:nth-last-of-type(2) {
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    border-radius: .25rem !important;
}

.right-col p {
    font-size: 14px;
}

#orders table {
    font-size: 14px;
    width: 100%;
}

#orders p, #billing p {
    font-size: 14px;
}

#billing table {
    font-size: 13px;
    font-weight: 400;
}

#billing a {
    font-size: 16px;
    font-weight: 600;
}

.nav {
    font-size: 14px;
    font-weight: 400;
}

.nav-link.active {
    background-color: #6B7A8F !important;
    border-color: #6B7A8F !important;
    color: #FFFFFF !important;
}

.nav-link {
    padding: .5rem;
    color: #6B7A8F !important;
    border-bottom-color: #6B7A8F !important;
}

    .nav-link:hover {
        border-color: #6B7A8F !important;
    }

.right-col .accordion {
    width: 100%;
}

.footer-logo {
    height: 50px;
}

.merchant-logo {
    height: 200px;
    padding-top: 15px;
}

    .merchant-logo img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

.payment, .result {
    height: 90%;
    padding-top: 15px;
}

.wrapper {
    height: 100vh;
}

.mb-0 > a {
    display: block;
    position: relative;
}

    .mb-0 > a:after {
        content: "\f078"; /* fa-chevron-down */
        font-family: 'FontAwesome';
        position: absolute;
        right: 0;
    }

    .mb-0 > a[aria-expanded="true"]:after {
        content: "\f077"; /* fa-chevron-up */
    }

.pm-icon-holder {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

    .pm-icon-holder img {
        vertical-align: middle;
        max-height: 25px;
    }
	
@media (max-width: 767px) {
    .credit-card-header {
        text-align: center;
    }

    .card-bin {
        margin-bottom: 8px;
    }
}	

.card-number, .mobile-number {
    position: relative;
}

    .card-number img, .mobile-number img {
        position: absolute;
        top: 6px;
        right: 5px;
        height: 25px;
    }

    .card-number img {
        display: none;
    }

.cvv {
    position: relative;
}

    .cvv img {
        position: absolute;
        top: 8px;
        right: 5px;
        height: 20px;
    }

.cardholder {
    position: relative;
}

    .cardholder img {
        position: absolute;
        top: 9px;
        right: 5px;
        height: 20px;
    }

img {
    max-width: 100% !important;
}

.selected-logo img {
    width: 150px;
    max-width: 60%;
}

.checkbox-paynamics .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #044767;
}

.text-paynamics {
    color: #044767;
}

.text-blueberry {
    color: #6B7A8F;
}

.text-apricot-x {
    color: #de7a2a !important;
}

.text-apricot {
    color: #de7a2a !important;
}

    .text-apricot:hover {
        color: #0B3C5D !important; /*prussian blue*/
    }

.text-citrus {
    color: #F7C331;
}

.text-apple-core {
    color: #DCC7AA;
}

.text-prussian-blue {
    color: #0B3C5D;
}

.text-apple-core-light {
    color: #f1e8dd !important;
}

    .text-apple-core-light:hover {
        color: #DCC7AA !important; /*apple core*/
    }

.bg-apple-core {
    background-color: #DCC7AA;
}

.bg-apple-core-light {
    background-color: #F4EEE5;
}

.bg-apricot {
    background-color: #F7882F;
}

.bg-blueberry {
    background-color: #6B7A8F;
}

.bg-payment {
    background-color: #f4f4f4;
}

.bg-prussian-blue {
    background-color: #0B3C5D;
}

.border-blueberry {
    border-color: #6B7A8F !important;
}

.btn-apricot {
    background-color: #de7a2a;
    color: #F4EEE5;
}

    .btn-apricot:hover {
        background-color: #DCC7AA;
        color: #0B3C5D;
    }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #F7882F;
}

.bank-card-img {
    text-align: center;
    display: none;
}

.bank-card-img img {
    width: 50%;
}

.loader-bg {
    background-color: Gray;
    filter: alpha(opacity=60);
    opacity: 0.60;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100%;
}

.loader-body {
    filter: alpha(opacity=100);
    opacity: 1;
    font-size: 12px;
    text-align: center;
    background-color: #FFFFFF;
    left: 50%;
    width: 26em;
    height: 90px;
    padding: 20px 14px;
    border-radius: 4px;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.accordion-first-pmethod .card-header {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0 !important;
}

.accordion-sole-pmethod {
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: .25rem !important;
}

.terms-conditions {
    height: 150px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #6B7A8F;
    padding: 3px;
    background-color: #ffffff;
}

.mtac {
    height: 100%;
    width: 100%;
    overflow: auto;
}

    .mtac p {
        font-size: 12px !important;
    }

    .mtac h1, .mtac h2, .mtac h3, .mtac h4, .mtac h5, .mtac h6 {
        font-size: 14px !important;
        font-weight: bold;
    }

#ccTerms {
    width: 100%;
}

/******* RESPONSE PAGE *******/
@media (max-width: 767px) {
    .result .card {
        width: 100% !important;
    }

    .footer-logo img {
        max-width: 80% !important;
    }

    .security-badge img {
        max-width: 40% !important;
    }
}

@media (min-width: 768px) {
    .result .table th {
        width: 40%;
    }
}

.merchant-logo{
 background-color:#0c0c3d !important;
 height:70px !important;
 width:100% !important;
 margin: 0 !important;
 
}

.merchant-logo>img{
 width:40% !important;
 margin-top:-5px !important;
 margin-left:5px !important;
}

.card-header{
  background-color:#0c0c3d !important;
}

.text-apricot{
  color:red !important;
}

.text-apricot-x{
  color:red !important;
}