.wtBorder {
    font-size: 0;
    position: absolute;
}

.cPercentage, .cTotalItems, .cWeight {
    font-weight: bold;
    text-align: center;
}
.sPercentage, .sTotalItems, .sWeight, .InitialGrade, .TransmutedGrade {
    font-weight: bold;
    text-align: center;
}
.eventScore{
    text-align: center;
    min-width: 35px;
}
.myheader th, .myheader td{
    padding: 5px;
    border: 1px solid #ddd;        
}

.myheader{
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed !important;
}

.numseq{
    width: 20px !important;
}
.myheader td.info{
    background: #d9edf7 none repeat scroll 0 0;
    color: #31708f;
}

.myheader td.shsinfo{
    background: #ffb848 none repeat scroll 0 0;
    color: black;
}

.eventScore div {
    width: 32px !important;
}

.InitialGrade.shs,  .Descriptor.shs{
    width: 75px !important;
}

.InitialGrade,  .Descriptor{
    width: 35px !important;
}

.ClassStand{
    width: 45px !important;
}

.PeriodGrade{
    width: 38px !important;
}

.PeriodGrade.shs{
    width: 78px !important;
}


.conductScore{
    width: 65px !important;
}
.conductFinal{
    width: 65px !important;
}
.conductRemarks{
    width: 150px !important;
}
.cPercentage, .cWeight{
     background: #dff0d8 none repeat scroll 0 0 !important;
    color: #3c763d !important;
}

.pdclass{
    width: 150px !important; 
    text-align: center !important;
}


.cPercentage.shs, .cWeight.shs{
     background: #ffb848 none repeat scroll 0 0 !important;
    color: black !important; 
}

.cgender{
    width: 40px !important; 
    text-align: center !important;
}
.pdclass{
    width: 150px !important; 
    text-align: center !important;
}

.cTermGrade{
    width: 100px !important; 
    text-align: center !important;
}

