/*.profile .page-content { background: #f1f3fa none repeat scroll 0 0 !important; }*/
/*.issuance .page-content { background: #f1f3fa none repeat scroll 0 0 !important; }*/
.color-red{ color: #a94442; }
.input-borderless{
    border: none !important;
    width: 100%;
}
.institution-title{
    color: rgb(255,255,255) !important; 	
    text-shadow: 2px 2px #111111; 
    margin-top: 0px !important; 
    font-family: 'Old English Text MT' ;
}
.institution-title:hover{
    text-decoration: none;
}
#left_container{margin-bottom:0px ! important;width:25em ! important;position:absolute;padding-left:9px;}
#right_container{margin:0;margin-left:26em;height:inherit; }

.cell-border{
    border: 1px solid #ddd !important;
}

.selectpicker li.selected > a > .text{
    font-weight: bold !important;
}
.selectpicker li.selected > a {
    background: #e5e5e5 none repeat scroll 0 0 !important;
}

.page-header.navbar {
    background-color: #0c0c3d !important;
    height: 50px !important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #ffffff !important;
}

.zeckbox input {
    left: -9999px;
    position: absolute;
}

.page-bar {
    background-color: white !important;
}
.page-content {
    border-bottom: 1px solid #f0f5f7 !important;
    border-left: 1px solid #f0f5f7 !important;
    background: #f1f3fa none repeat scroll 0 0 !important;         
}

.profile form .form-control{ border: 1px solid #e5e5e5 !important;}
.profile form .select2{ border: 1px solid #e5e5e5 !important;}
/* BOOTBOX */
.bootbox-confirm .modal-content { 
    background-color: #7eb839 !important;
    border-radius: 3px 3px 3px 3px !important;
}
.bootbox-confirm .modal-footer { 
    border-top: 1px solid #fff !important;
}
.bootbox-confirm .modal-body { 
    color : #333333 !important;
    font-size: 17px !important;
    font-family: "Corbel",sans-serif !important;
}

.bootbox-alert .modal-content { 
    background-color: #ffcc00 !important; 
    border-radius: 3px 3px 3px 3px !important;
}
.bootbox-alert .modal-footer { 
    border-top: 1px solid #fff !important;
}
.bootbox-alert .modal-body { 
    /* color: #fff !important; */
    color : #333333 !important;
    font-size: 17px !important;
    font-family: "Corbel",sans-serif !important;
}

#modal_inventory .modal-dialog { width: 500px !important; }
/* END BOOTBOX */

/* DATATABLE */
.dataTables_filter label{
	width: 100% !important;
}
.dataTables_filter label input[type="search"]{
	width: 200px !important;
}
/* END DATATABLE */

/* ALIGNMENT */
.center { text-align: center !important; }
.left { text-align: left !important; }
.right { text-align: right !important; }
.justify { text-align: justify; !important; }
/* END ALIGNMENT */

/* OTHERS */
.cursor-pointer { cursor: pointer !important; }
.number-style-custom {  font-size: 14px !important; }

.color-black { color: #000 !important; }

.color-bg-flesh { background-color: #ffdb75 !important }
.color-bg-light-green { background-color: #c0ffc0 !important }
.color-bg-table-header { background-color: #fff4d6 !important }


.color-border-white { border: 1px solid #fff !important; }
/* END OTHERS */


/* HOVER */
.hover-grey-cascade:hover { background-color : #f4d03f !important; }
.hover-bg-blue-hoki:hover { background-color : #67809f  !important; }
.hover-font-red-pink:hover { color : #e08283   !important; }
/* END HOVER */

/* MODAL */
#progress_modal .modal-dialog .modal-content
{
/* 
    background-color: transparent !important;
    box-shadow: none !important;
    border: 0 none !important;
*/
    top: 30% !important;
}
/* END MODAL */

/* TABLE */
.no-table-border tbody tr { border: 0 none !important; }
.no-table-border tbody tr td { border: 0 none !important; }
/* END TABLE */

.modal-header-bg { 
    background-color: #bb0000 !important;
    color: #fff !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.page-content-wrapper .page-content{
	padding: 10px 20px 10px 10px !important;
}

.page-bar {
	margin-bottom: 10px !important;	
}

.sm-font {
    font-size: 10px !important;
}

.xs-font {
    font-size: 8px !important;
}


/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px !important;
    padding-left: 15px !important;
    padding-right: 0 !important;
    position: relative !important;
	
}
*/

.autofit{width:1%;white-space:nowrap !important;}
.truncate {
  width: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-row > td{
    background: #d9edf7 none repeat scroll 0 0;
    color: #31708f;
}

.well.well-light {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
}

.vertical-text{
  transform-origin: 0 50%;
  transform: rotate(-90deg); 
  white-space: nowrap; 
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.vertical-container{
    position: relative;
    padding: 10px;
}
.cell-focus{
    border: 1px solid rgb(82, 146, 247);
    border-style:double;
    outline: 3px solid rgb(82, 146, 247);
    
}

.upper-letter {
    text-transform: uppercase !important;
}
.scrollable-menu {
    height: auto;
    max-height: 280px;
    overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;        
}    
.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
}

.no-sidebar{
	margin-left: 0px !important;
}

.disabled {
    pointer-events:none;
    color:black;
    background:white;
}